.DS_Storevenv/
.env
PersonalExpenseTracker/venv/
PersonalExpenseTracker/.env

# Ignore virtual environments
.venv/
venv/


# Ignore processed and raw data
data/processed/
#data/raw/

# Ignore dataset files (e.g. large PDFs, CSVs)
#*.pdf
*.csv

# Mac system files
.DS_Store

# Ignore FAISS index folder
#faiss_index/

# Ignore local test files
testpath.py


