.DS_Storevenv/
immigration_bot/.env
immigration_bot/backend/test_faiss_query.py
PersonalExpenseTracker/venv/
PersonalExpenseTracker/.env

# Ignore virtual environments
.venv/
venv/


# Ignore processed and raw data
data/processed/
#data/raw/

# Ignore dataset files (e.g. large PDFs, CSVs)
#*.pdf
*.csv

# Mac system files
.DS_Store

# Ignore FAISS index folder
#faiss_index/

# Ignore local test files
testpath.py


# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Environment
.env
.venv/
*.env

# FAISS index
immigration_bot/faiss_index/

# Processed data (optional if dynamically generated)
immigration_bot/data/processed/

# VSCode settings and Python history
.vscode/
*.history

